// Specific CSS for your home-page


h3 {
  padding-top: 10px;
  padding-bottom: 25px;
  margin: 0;
}

ul {
  margin: 0;
  padding-block-end: 10px;
}
.lien {
  text-decoration: none;
  transition: all 500ms;
  &:hover {
    width: 180px;
  }
}

.point > p {
  margin-block-start: 2px;
  margin-block-end: 2px;
  padding-inline-start: 10px;
}

.container {
  margin: 0px auto;
  padding: 10px 30px;
  color: $green;
  border: 2px $white solid;
  position: relative;
  // z-index: -1;
}
.container::after {
  content: "";
  background: linear-gradient(rgba(166,166,166, 0.3), rgba(40, 75, 99, 0.5)), url("profil.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: -250px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;
}



.banner {
  width: 100%;
  flex-direction: column;
  position: relative;
  h1{
    margin-top: 3rem;
    margin-bottom:1rem;
    font-style: italic;
  }
  h2 {
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
}

.profil {
  background-image: url('profil.jpg');
  border-radius: 4px;
  width: 200px;
  height: 180px;
  object-fit: cover;
}

.sections {
  width: 80%;
  background: $white;
  border: 1px $light-grey solid;
  color: $dark-grey;
  border-radius: 4px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin: 15px auto;
}

.join-me {
  width: 50%;
  height:20px;
  position: absolute;
  top: 350px;
  right: 250px;
  max-width: 50%;
  max-height: 20px;
  // border: green 2px solid;
}

.icon-style {
  font-size: 30px;
  color: rgba(40, 75, 99, 0.6);
  transition: all ease 350ms;
  &:hover {
    color: rgba(40, 75, 99, 1);
    font-size: 35px;
  }
}

.icon-div {
  width: 35px;
  position: relative;
  // border: red 2px solid;
  &:hover{
    cursor: pointer;
  }
}

.centrage {
 display: flex;
 flex-direction: column;
 text-align: center;
}

#ul-langage li {
  margin: 0;
  padding: 10px 0 10px 50px;
  list-style: none;
  position: absolute;
}
#rb-li {
  left: 345px;
  top: 56px;
}
#sql-li {
  right: 185px;
  top: 30px;
}
#js-li {
  top: 131px;
  left: 7px;
}
#html-li {
  top: 205px;
  left: 5px;
}
#css-li {
  top: 145px;
  left: 138px;
}
#rails-li {
  left: 288px;
  top: 14px;
}
#postgre-li {
  top: 107px;
  right: 206px;
}
#gh-li {
  top: 282px;
  left: 601px;
}
#heroku-li {
  top: 171px;
  right: 478px;
}
#sqlite-li {
  right: 90px;
  top: 70px;
}

.ul-formation li {
  font-size: 1.1rem;
  list-style: none;
}

#wagon-li p{
  // background-image: url("logo.png");
  // background-size: 30px;
  // background-repeat: no-repeat;
  // padding-left: 40px;
  margin: 0;
}

#um2-li p {
  margin: 0;
  // background-image: url("um2.png");
  // background-size: 30px;
  // background-repeat: no-repeat;
  // padding-left: 40px;
}

.d-none {
  display:none;
}
.make-appear {
  position: absolute;
  &:hover {

  }
}

#email {
  top: 35px;
}
#tel {
  top: 3px;
  right: 10px;
  font-size: 1.2rem;

  // transition: all ease 350ms;

}
#div-tel {
// border: 2px pink solid;
width: 180px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: all 1.5s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all linear 1s;
  // transition: visibility 0s 200ms, opacity 2s linear;
}
