@media (min-width: 1150px) and (max-width: 1440px) {
  body {
    font-size: 24px;
  }
  h1 {
    font-size: 4rem;
    // color: green;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  .sections {
    padding: 0.5rem 2.5rem;
    margin: 2rem auto;
  }
  .menu {
    margin: 1rem auto;
    padding: 1rem 2.5rem;
  }
  .join-me {
    margin-top: 4rem;
  }
  .icon-style {
    font-size: 4.5rem;
    &:hover {
      font-size: 4.8rem;
    }
  }
  .contact {
    margin-bottom: 4rem;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
}




@media (min-width: 500px) and (max-width: 1149px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  a {
    font-size: 1rem;
  }
  .sections {
    padding: 0.2rem 1rem;
    margin: 1rem auto;
  }
  .menu {
    margin: 0 auto;
    padding: 0.7rem 1rem;
  }
  .join-me {
    margin-top: 1.5rem;
  }
  .icon-style {
    font-size: 3.5rem;
    &:hover {
      font-size: 3.8rem;
    }
  }
  .btn-go-to {
    width: 80%;
    margin: 0.5rem auto;
  }
  .menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
  }
  .menu-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .menu-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .menu-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .menu-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .menu-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 745px) {
  .menu {
    display: none;
  }
  .aboutme-s-device{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

