// Graphical variables
@import "config/fonts";
@import "config/colors";
// @import "config/bootstrap_variables";  le dossier est tout commenté

// External libraries
// @import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  box-sizing: border-box;
  cursor: default;
  // border: 30px solid $duck-blue;
}
// *************  WIDTH ************

.w50percent {
  width: 50%;
}

// *************  PADDING ************

.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pl10 {
  padding-left: 10px;
}
.pb30{
  padding-bottom: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pr10 {
  padding-right: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
// *************  MARGIN ************

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb2rem {
  padding-bottom: 4rem;
}

// *************  DISPLAY FLEX ************

.fcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fcs {
  display: flex;
  align-items: center;
  justify-content: start;
}
.fcse {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
.flexgrow {
  flex-grow: 1;
}
.fdirectioncolumn {
  flex-direction: column;
}

// *************  STYLE DES <a> ************

.style-link {
  text-decoration: none;
  color: $dark-grey;
  font-size: 1.2rem;
  font-weight: 500;
}

.z-index-10 {
  z-index: 10;
}

// *************  DISPLAY ************
.d-none {
  // display:none;
  visibility: hidden;
}
